@model IEnumerable<SistemaCursosOnline.Models.Course>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="information">
                <div class="course-img center">
                    <img src="@item.photo_url" class="img"></img>
                </div>
                <div class="description">
                    <div>@item.name</div>
                    <div>@item.Schedule.turn</div>
                    <div>@item.Schedule.beginning_hour - @item.Schedule.finish_hour</div>
                    <div>@item.Schedule.duration</div>
                    @Html.ActionLink("Seleccionar", "", "ScheduleAvailable", new { courseId = item.id }, null)
                </div>
            </div>
        </div>
    }
</div>
